/* Ref: https://about.gitlab.com/blog/2023/01/17/new-typefaces-in-gitlab/ */
body {
  font-family: 'Inter', sans-serif;
  text-rendering: geometricPrecision !important;
}

pre {
  font-family: 'JetBrains Mono', monospace !important;
  font-size: smaller !important;
}

p b, p strong {
  background-color: #fabfc8; /* Color of the marker */
  font-weight: bold; /* Ensure the text is bold */
  padding: 0.2em 0.4em; /* Adds padding around the text */
  border-radius: 0.5em; /* Rounds the corners */
  box-decoration-break: clone; /* Ensures the background and border-radius are applied to each line in multi-line text */
  font-size: 1.10rem !important;
}

p a {
  font-weight: bold;   /* Makes the text bold */
}

em {
  font-size: 1.10rem !important;
}

p, li {
  line-height: 1.8 !important;
  font-size: 1.1rem !important;
}

.rst-content code {
  font-size: 85% !important;
}

.rst-content img {
  margin: 6px;
  border: 2px dashed #404040; /* Solid black border, 2px thick */
  border-radius: 10px;       /* Rounded corners */
  padding: 4px;              /* Spacing between the image and the border */
  display: inline-block;     /* Allows the padding and border to take effect properly */
}

/* https://stackoverflow.com/a/5790911 */
figure.thmbnl img {
  border: 2px solid transparent
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: #f35a72;
  z-index: 9999;
  width: 0%;
}

/* https://stackoverflow.com/a/52058198/1766391 */
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

/*
.document h1, .document h2, .document h3, .document h4, .document h5, .document h6 {
  font-size: 115%;
}
*/
