[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
myst-parser = "*"
sphinx-rtd-theme = "==2.0.0"
Sphinx = "*"
sphinx-autobuild = "*"
sphinx_last_updated_by_git = "*"
sphinxcontrib-youtube = "*"
sphinx-sitemap = "*"
sphinx-copybutton = "*"
sphinxext-opengraph = "*"
sphinx-disqus = "*"
"sphinxcontrib.asciinema" = "*"

[dev-packages]

[requires]
