[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
myst-parser = "*"
sphinx-rtd-theme = "==3.0.2"
Sphinx = "*"
# Netlify supports only Python 3.8, so the latest compatible version is
sphinx-autobuild = "==2021.3.14" #2024.4.13 gives watchfiles error. See: https://github.com/sphinx-doc/sphinx-autobuild/pull/152
sphinx_last_updated_by_git = "*"
sphinxcontrib-youtube = "*"
sphinx-sitemap = "*"
sphinx-copybutton = "*"
sphinxext-opengraph = "*"
"sphinxcontrib.asciinema" = "==0.3.8"
"sphinxcontrib.googleanalytics" = "==0.4"

[dev-packages]

[requires]
