p b, p strong {
  background-color: var(--ayazardev-bold); /* Color of the marker */
  font-weight: bold; /* Ensure the text is bold */
  padding: 0.2em 0.4em; /* Adds padding around the text */
  border-radius: 0.5em; /* Rounds the corners */
  box-decoration-break: clone; /* Ensures the background and border-radius are applied to each line in multi-line text */
 /* font-size: 1.10rem !important; */
}


article {
  color: var(--ayazardev-article-color);
}


p em {
  background-color: var(--ayazardev-em); /* Color of the marker */
  padding: 0.2em 0.4em; /* Adds padding around the text */
  border-radius: 0.5em; /* Rounds the corners */
  box-decoration-break: clone; /* Ensures the background and border-radius are applied to each line in multi-line text */
 /* font-size: 1.10rem !important; */
}

article p {
  line-height: 1.8;
  font-size: 1.1rem;
}

/* GPT-4 */
/* https://stackoverflow.com/a/52058198/1766391 */
article a[href^="http://"]:not([href^="http://ayazar.dev"])::after,
article a[href^="https://"]:not([href^="https://ayazar.dev"])::after{
  content: var(--ayazardev-aftera);
  margin: 0 3px 0 5px;
}

article a{
  font-weight: 600;
}

article img {
  margin: 4px;
  margin-bottom: 2px;
  border: 2px dashed #404040; /* Solid black border, 2px thick */
  border-radius: 10px;       /* Rounded corners */
  padding: 4px;              /* Spacing between the image and the border */
  display: inline-block;     /* Allows the padding and border to take effect properly */
}

/* https://stackoverflow.com/a/5790911 */
figure.thmbnl img {
  border: 2px solid transparent !important
}
